.emptyCart {
  text-align: center;
}
.emptyCart img {
  width: 400px;
  height: 400px;
}

.emptyCart span {
  font-size: 20px;
  color: #a5a2a2;
}

.emptyCart .icon-back-pageProduct {
  font-size: 25px;
  color: var(--color-main);
  animation: iconBackPage 2s infinite;
  cursor: pointer;
}

.header-card-item {
  display: flex;
  justify-content: space-between;
  background-color: #f7f7f7;
  padding: 15px 20px;
  border-radius: 5px;
}

.product-header-cart,
.product-body-cart {
  width: 400px;
}

.product-body-cart .img-cart img {
  width: 150px;
}

.product-body-cart {
  display: flex;
}
.body-card-item {
  margin-top: 15px;
}
.item-cart:nth-last-child() {
}
@keyframes iconBackPage {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
