.contact-left-img h1 {
  margin-bottom: 10px;
}

.contact-left-img img {
  float: right;
}

.contact-left-img h1 {
  margin-left: 200px;
}

.contact-left-img p {
  font-size: 16px;
  color: #8c8c8c;
  margin-left: 200px;
}

.contact-form input {
  font-size: 18px;
  width: 500px;
  height: 60px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.contact-form textarea {
  font-size: 18px;
  padding: 10px 20px;
  width: 500px;
}

.contact-form input,
textarea {
  border: none;
  outline: none;
}

.contact-form input:focus,
textarea:focus {
  border: 1px solid var(--color-main);
}
.contact-form button {
  font-size: 18px;
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  background-color: var(--color-main);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s linear;
}

.contact-form button:hover {
  filter: brightness(110%);
}

@media screen and (max-width: 600px) {
  .contact-left-img h1 {
    display: none;
  }
  .contact-left-img p {
    margin-left: 0;
  }
  .contact-form input {
    font-size: 18px;
    width: 500px;
    height: 50px;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
}
