.detail-product {
  background-color: #fff;
}

.img-detail {
  width: 400px;
  height: 400px;
}

.information-detail-product {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.information-detail-product p {
  margin: 8px 0;
  line-height: 23px;
  font-size: 15px;
}
.information-detail-product span {
  font-weight: 600 !important;
}
.information-detail-product h2 {
  font-size: 30px;
  color: #c92127;
}
.information-detail-product h3 {
  font-size: 30px;
  font-weight: 500;
}

.suggest-detail {
  background-color: #fff;
}
.suggest-detail h2 {
  font-size: 20px;
  margin: 10px;
  padding: 20px 0;
  font-weight: 500;
}

.btn-add-product-detail {
  background-color: #c92127;
  color: #fff;
  width: 200px;
}
.btn-add-product-detail:hover {
  background-color: #c92127 !important;
  color: #fff !important;
  width: 200px;
}
