@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: #1cc0a0 #e0e0e0;
  scroll-behavior: smooth;
}

.App {
  padding: 0 60px;
  font-family: Poppins, sans-serif;
  background-color: #f5f5f5;
}

:root {
  --color-main: #1cc0a0;
}

::selection {
  background-color: var(--color-main);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}
.content-app {
  min-height: 80vh;
  padding-bottom: 30px;
}
/* background-admin */
.content-admin {
  background-color: #e8e8e8;
  height: 100vh;
}

/* cart */
