.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-container .ant-checkbox-wrapper {
  margin-right: 10px; /* Tạo khoảng cách giữa checkbox và label */
}

.list-menu h3 {
  margin-bottom: 10px;
  font-weight: 500;
}

.list-menu {
  padding: 5px 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.card-products:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 100;
}

.card-products:hover .choose-btn-product {
  visibility: visible;
}

.card-products img {
  transition: 0.3s linear;
}
.card-products {
  border: 1px solid rgb(245, 240, 240);
  font-weight: 400;
  background-color: #fff;
  position: relative;
}

.name-book span {
  font-size: 17px;
  font-weight: 400;
}

.card-products .information-book {
  padding: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 110px;
}

.card-products .price {
  color: #c92127;
  font-size: 18px;
  font-weight: 500;
}

.card-products .old-price {
  color: rgb(130, 127, 127);
  text-decoration: line-through;
  font-size: 15px;
  margin-left: 5px;
}

.choose-btn-product {
  position: absolute;
  top: 30%;
  left: 30%;
  visibility: hidden;
}

.choose-btn-product button:hover {
  background-color: var(--color-main) !important;
  color: white !important;
}

.card-products .information-book .rate-product ul li {
  font-size: 12px !important;
  margin: 0;
  padding: 0;
}
