.header-top {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px 0;
}
.header-top-phone {
  font-size: 14px;
  color: var(--color-main);
}
.logout-login {
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  transition: 0.2s linear;
  color: #a6c76c;
}
.logout-login:hover {
  color: var(--color-main);
}

.header-top::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #a6c76c;
}

.header-middle {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  display: flex;
  width: 60%;
}

.icon-group {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.icon {
  font-size: 25px;
}
.input-search {
  width: 100%;
}

.input-search input {
  width: 100%;
  border: 1px solid #ebebeb;
  padding: 15px 60px 11px 10px;
  outline: none;
  border-radius: 2px;
}

.icon-search {
  background-color: var(--color-main);
  padding: 0 24px;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.icon-group .icon {
  padding: 0 15px;
  transition: 0.3s linear;
}
.icon-group .icon:hover {
  cursor: pointer;
  color: var(--color-main);
}
.icon-group p {
  font-size: 12px;
}

.icon-cart {
  position: relative;
}

.icon-cart::after {
  content: "";
  background-color: var(--color-main);
  position: absolute;
  height: 22px;
  width: 22px;
  top: 0;
  right: 5%;
  border-radius: 50%;
  z-index: 0;
}

.icon-cart .count-shopping {
  position: absolute;
  top: 0;
  right: 13%;
  color: white;
  z-index: 1;
}
