.banner {
  margin-top: 20px;
  display: flex;
  height: 420px;
  gap: 20px;
  width: 100%;
}

.banner img {
  height: 100%;
}

.banner .banner1 {
  width: 50%;
  position: relative;
}

.banner .banner2 {
  width: 25%;
}
.banner .banner3 {
  width: 25%;
  height: 100%;
}

.banner .banner3 img {
  width: 100%;
  height: 50%;
}

.banner .banner2 img {
  width: 100%;
}

/* .utilities */
.utilities {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.box-utilities {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 30px;
  margin-right: 8px;
}
.box-utilities p {
  font-size: 14px;
}

.box-utilities h4 {
  color: var(--color-main);
}

@keyframes typing {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
}

.typing-effect {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 30%;
  left: 5%;
}

.typing-effect span {
  font-size: 30px;
  opacity: 0;
  display: inline-block;
  animation: typing 15s infinite;
  color: white;
  margin: 0 3px;
}

.typing-effect span:nth-child(1) {
  animation-delay: 0.1s;
}
.typing-effect span:nth-child(2) {
  animation-delay: 0.2s;
}
.typing-effect span:nth-child(3) {
  animation-delay: 0.3s;
}
.typing-effect span:nth-child(4) {
  animation-delay: 0.4s;
  margin-right: 15px;
}
.typing-effect span:nth-child(5) {
  animation-delay: 0.5s;
}
.typing-effect span:nth-child(6) {
  animation-delay: 0.6s;
}
.typing-effect span:nth-child(7) {
  animation-delay: 0.7s;
}
.typing-effect span:nth-child(8) {
  animation-delay: 0.8s;
  margin-right: 15px;
}
.typing-effect span:nth-child(9) {
  animation-delay: 0.9s;
}
.typing-effect span:nth-child(10) {
  animation-delay: 1s;
}
.typing-effect span:nth-child(11) {
  animation-delay: 1.1s;
}
.typing-effect span:nth-child(12) {
  margin-right: 15px;
  animation-delay: 1.2s;
}
.typing-effect span:nth-child(13) {
  animation-delay: 1.3s;
}
.typing-effect span:nth-child(14) {
  animation-delay: 1.4s;
}
.typing-effect span:nth-child(15) {
  animation-delay: 1.5s;
}
.typing-effect span:nth-child(16) {
  margin-right: 15px;
  animation-delay: 1.6s;
}
.typing-effect span:nth-child(17) {
  animation-delay: 1.7s;
}
.typing-effect span:nth-child(18) {
  animation-delay: 1.8s;
}
.typing-effect span:nth-child(19) {
  animation-delay: 1.9s;
}
.typing-effect span:nth-child(20) {
  animation-delay: 2s;
}
.typing-effect span:nth-child(21) {
  animation-delay: 2.1s;
}
.typing-effect span:nth-child(22) {
  animation-delay: 2.2s;
}
.typing-effect span:nth-child(23) {
  animation-delay: 2.3s;
}
.typing-effect span:nth-child(24) {
  animation-delay: 2.4s;
}
.typing-effect span:nth-child(25) {
  animation-delay: 2.5s;
}
.typing-effect span:nth-child(26) {
  animation-delay: 2.6s;
}
.typing-effect span:nth-child(27) {
  animation-delay: 2.7s;
}
.typing-effect span:nth-child(28) {
  animation-delay: 2.8s;
}
.typing-effect span:nth-child(29) {
  animation-delay: 2.9s;
}
.typing-effect span:nth-child(30) {
  animation-delay: 3s;
}
