.banner {
  padding: 0 !important;
}
.banner .banner1 img {
  width: 100%;
  height: 550px;
  /* height: 600px; */
}
/* .utilities */

.utilities {
  margin-top: 40px;
}
/* .box-utilities {
  display: flex;
  align-items: center;
} */

.icon {
  font-size: 30px;
  margin-right: 8px;
}
.box-utilities img {
  width: 100%;
}

.banner-main {
  position: relative;
  width: 100%;
  height: 620px;
  background-color: var(--color-main);
}
.banner-text {
  position: absolute;
  top: 30%;
  left: 10%;
  line-height: 70px;
}
.banner-text h1 {
  color: #fff;
  font-size: 50px;
}
.banner-text h4 {
  color: #616161;
  font-size: 35px;
}
.banner-main img {
  position: absolute;
  right: 10%;
  top: 15%;
}

@media screen and (max-width: 600px) {
  .banner .banner1 img {
    /* height: 600px; */
    height: 200px;
  }
  .utilities {
    margin-top: 15px;
  }
  .banner-main {
    height: 450px;
  }
  .banner-text {
    top: 55%;
    left: 8%;
    line-height: 40px;
  }
  .banner-text h1 {
    color: #fff;
    font-size: 30px;
  }
  .banner-text h4 {
    color: #616161;
    font-size: 19px;
  }
  .banner-main img {
    position: absolute;
    right: 15%;
    top: 3%;
    width: 250px;
  }
}
