.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-container .ant-checkbox-wrapper {
  margin-right: 10px; /* Tạo khoảng cách giữa checkbox và label */
}

.list-menu h3 {
  margin-bottom: 10px;
}
