.blog-home {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.blogs {
  width: 25%;
  overflow: hidden;
}

.blogs img {
  width: 100%;
  object-fit: contain;
}

.information-blog {
  padding: 5px 12px;
}

.information-blog .date {
  color: #ccc;
  font-size: 15px;
}

.information-blog .heading-blog {
  font-weight: 600;
  margin: 5px 0;
}

.information-blog .continue {
  color: var(--color-main);
  cursor: pointer;
  transition: 0.2s linear;
}

/* blog-page */
.card-blog {
  display: flex;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 0.1px solid #ebebeb;
}
.card-blog h2 {
  margin-bottom: 10px;
}

.card-blog p {
  color: #777;
  font-size: 16px;
}

.card-blog .content-blog {
  padding: 0 20px;
}

.card-blog .date {
  color: var(--color-main);
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 15px;
}

.blog-page {
  margin-top: 15px;
}
.text-container {
  max-height: calc(1.3em * 6); /* Chiều cao tối đa tương đương với 5 hàng */
  overflow: hidden; /* Ẩn phần văn bản vượt quá chiều cao */
}

.information-blog .text-blog {
  font-size: 14px;
  color: #777;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* Số hàng tối đa */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
