.navbar {
  margin-top: 15px;
  display: flex;
  width: 100%;
  font-size: 15px;
  height: 50px;
  transition: top 0.8s ease; /* Thêm transition cho thuộc tính top */
  top: -50px; /* Thêm giá trị ban đầu cho thuộc tính top */
}

.navbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0 60px;
}
.choose ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.choose ul li {
  text-decoration: none;
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  transition: 0.2s linear;
  cursor: pointer;
}

.choose ul li:hover {
  color: var(--color-main);
}

.choose {
  background-color: #2c2c2c;
  width: calc(100% - 500px);
  height: 100%;
  display: flex;
  align-items: center;
}

.browser {
  background-color: var(--color-main);
  height: 100%;
  align-items: center;
  display: flex;
  width: 250px;
  justify-content: center;
  color: white;
  text-transform: uppercase;
}

.browser span {
  margin-left: 10px;
}

.notify {
  height: 100%;
  background-color: #2c2c2c;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

.notify::before {
  position: absolute;
  content: "";
  width: 1px;
  color: white;
  background-color: white;
  left: 0;
  height: 20px;
}

.notify span {
  margin-left: 10px;
}

.nav-link {
  text-decoration: none;
}

.nav-link.active li {
  color: var(--color-main);
  position: relative;
}

.nav-link.active li::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: var(--color-main);
}

@media screen and (max-width: 600px) {
  .navbar {
    margin-top: 15px;
    display: flex;
    width: 100%;
    font-size: 15px;
    height: 35px;
    transition: top 0.8s ease; /* Thêm transition cho thuộc tính top */
    top: -50px; /* Thêm giá trị ban đầu cho thuộc tính top */
  }

  .navbar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    margin: 0;
    padding: 0 60px;
  }
  .choose ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .choose ul li {
    text-decoration: none;
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    transition: 0.2s linear;
    cursor: pointer;
    font-size: 8px;
  }

  .choose ul li:hover {
    color: var(--color-main);
  }

  .choose {
    background-color: #2c2c2c;
    width: calc(100% - 120px);
    height: 100%;
    display: flex;
    align-items: center;
  }

  .browser {
    background-color: var(--color-main);
    height: 100%;
    align-items: center;
    display: flex;
    width: 120px;
    justify-content: center;
    color: white;
    text-transform: uppercase;
  }

  .browser span {
    margin-left: 5px;
    font-size: 7px;
  }

  .notify {
    height: 100%;
    background-color: #2c2c2c;
    width: 140px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    color: white;
    position: relative;
  }

  .notify::before {
    position: absolute;
    content: "";
    width: 1px;
    color: white;
    background-color: white;
    left: 0;
    height: 20px;
  }

  .notify span {
    margin-left: 5px;
    font-size: 10px;
  }

  .nav-link {
    text-decoration: none;
  }

  .nav-link.active li {
    color: var(--color-main);
    position: relative;
  }

  .nav-link.active li::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: var(--color-main);
  }
}
