.footer {
  background-color: #151414;
  margin-top: 30px;
  position: absolute;
  left: 0;
  right: 0;
  padding: 15px 60px;
}

.footer-info {
  padding: 40px 0;
}

.footer h2 {
  margin: 10px 0;
}

.footer hr {
  color: rgb(202, 202, 202);
  margin-bottom: 30px;
}
.icon-footer {
  color: var(--color-main) !important;
  font-size: 30px;
}

.footer h2 {
  color: #fff;
}

.footer p {
  color: rgb(203, 203, 203);
}

.icon-network {
  font-size: 25px;
}

.icon-network.icon-facebook {
  color: white;
}

.footer-widget-heading {
  position: relative;
  font-weight: 500;
  padding-bottom: 10px;
}
.footer-widget-heading::after {
  content: "";
  position: absolute;
  background-color: var(--color-main);
  height: 2px;
  bottom: 0;
  width: 70px;
  left: 0;
}

.input-send-footer input {
  font-size: 16px;
  padding: 11px 10px;
  margin-top: 20px;
  background-color: #2e2e2e;
  border: none;
  color: white;
}

.input-send-footer input:focus {
  border: 1px solid var(--color-main);
  outline: none;
}
.input-send-footer button {
  padding: 13px 20px;
  font-size: 15px;
  background-color: var(--color-main);
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.footer ul li {
  color: #878787;
  text-decoration: none;
  list-style: none;
  padding: 5px 0;
  font-weight: 500;
}

.footer ul li span {
  cursor: pointer;
}
.footer ul li span:hover {
  color: var(--color-main);
}
