.form-auth h2 {
  text-align: center;
  color: var(--color-main);
  margin-bottom: 20px;
  font-weight: 500;
}

.form-auth .input-form-auth {
  margin: 10px 0;
}

.btn-login.ant-btn {
  width: 100%;
  color: #fff;
  background-color: var(--color-main);
  margin-top: 20px;
}

.btn-login.ant-btn:hover {
  width: 100%;
  color: #fff !important;
  background-color: var(--color-main) !important;
}

.footer-modal {
  margin-top: 20px;
  text-align: center;
}

.footer-modal span {
  font-weight: 500;
  cursor: pointer;
}
